.container{
    max-width: 50%;
    margin: 0;
}

header{
    width: 100%;
    background-color: yellow;
    height: 150px;
}
.burger{
    display: flex;
    justify-content: space-between;
}
h1{
    margin-top: 80px;
    margin-left: 40px;
}
.margin{
    margin-top: 60px;
}
h3{
    font-size: 30px;
    margin-top: 15px;
}
.img2{
    width: 60px;
    height: 60px;
}
.margin1{
    margin-top: 15px;
    margin-bottom: 15px;
}